<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/admin/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/admin/css/templatemo-style.css">
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
</head>
<style>
    .cke_notifications_area {
        display: none;
    }
    .toast-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }

    .custom-toast {
        display: none; /* Ẩn mặc định */
        background-color: #333;
        color: #fff;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        min-width: 250px;
        max-width: 400px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .toast-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .show-toast {
        display: block !important;
        opacity: 1 !important;
    }

</style>
<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">Shoe Store</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item @((ViewContext.RouteData.Values["controller"].ToString() == "Dashboard" && ViewContext.RouteData.Values["action"].ToString() == "Index") ? "active" : "")">
                            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown @((ViewContext.RouteData.Values["controller"].ToString() == "Products") ? "active" : "")">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-shopping-cart"></i>
                                <span>
                                    Sản phẩm <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item @((ViewContext.RouteData.Values["action"].ToString() == "Index") ? "active" : "")" asp-controller="Products" asp-action="Index">Sản phẩm</a>
                                <a class="dropdown-item @((ViewContext.RouteData.Values["action"].ToString() == "Custom") ? "active" : "")" asp-controller="Products" asp-action="Custom">Danh mục & Brand & Màu</a>
                            </div>
                        </li>
                        <li class="nav-item @((ViewContext.RouteData.Values["controller"].ToString() == "Order" && ViewContext.RouteData.Values["action"].ToString() == "Index") ? "active" : "")">
                            <a class="nav-link" asp-controller="Order" asp-action="Index">
                                <i class="far fa-file-alt"></i>
                                Đơn hàng
                            </a>
                        </li>
                        <li class="nav-item @((ViewContext.RouteData.Values["controller"].ToString() == "Account" && ViewContext.RouteData.Values["action"].ToString() == "Index") ? "active" : "")">
                            <a class="nav-link" asp-controller="Account" asp-action="Index">
                                <i class="far fa-user"></i>
                                Tài khoản
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" asp-action="Logout" asp-controller="Login" asp-area="Admin">
                                @Context.Session.GetString("Name"), <p>Đăng xuất</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <main role="main" class="pb-3">
            <div class="toast-container">
                <div id="liveToast" class="custom-toast">
                    <div class="toast-header">
                        <strong>Thông báo</strong>
                        <button type="button" class="close-btn" onclick="closeToast()">×</button>
                    </div>
                    <div class="toast-body" id="toast-body"></div>
                </div>
            </div>


            @RenderBody()
        </main>

        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2025</b> All rights reserved.

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Shoe Store</a>
                </p>
            </div>
        </footer>
    </div>
  
    
    <script src="~/admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/admin/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="~/admin/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="~/admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="~/admin/js/tooplate-scripts.js"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
    <script>
               function showToast(message, type = "success") {
            var toastBody = document.getElementById("toast-body");
            var toastElement = document.getElementById("liveToast");

            toastBody.innerHTML = message;

            if (type === "success") {
                toastElement.style.backgroundColor = "#28a745"; // Màu xanh lá
            } else if (type === "error") {
                toastElement.style.backgroundColor = "#dc3545"; // Màu đỏ
            }

            toastElement.classList.add("show-toast");

            // Tự động ẩn sau 3 giây
            setTimeout(function () {
                closeToast();
            }, 3000);
        }

        function closeToast() {
            var toastElement = document.getElementById("liveToast");
            toastElement.classList.remove("show-toast");
        }

        // Kiểm tra TempData từ Razor để hiển thị thông báo khi tải trang
        window.onload = function () {
            var successMessage = "@Html.Raw(TempData["success"])";
            var errorMessage = "@Html.Raw(TempData["error"])";

            if (successMessage && successMessage !== "null") {
                showToast(successMessage, "success");
            } else if (errorMessage && errorMessage !== "null") {
                showToast(errorMessage, "error");
            }
        };

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>